.column {
  float: left;
  padding: 10px;
}

.left{
  width: 15%;
  position: fixed ;
  top: 0;
  left: 0;
  height: 100%;
  border: 3px solid #73AD21;
}

.right {
  width: 15%;
  position: fixed;
  top: 0;
  right: 0;
  border: 3px solid #73AD21;
  height:100%;
}

.avatar{
  border: black solid;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px;
}



.avatar:hover, .avatar:focus{
  border: steelblue solid;
  width: 100px;
  height: 100px;
}



.middle {
  position:absolute;
  text-align: center;
  width: 70%;
  left: 15%;
}

.posts{
  border-style: solid;
  /* margin-left: 10%;
  margin-right: 10%; */
  overflow: hidden;
  width: 100%;
}

.post{
  margin-left: 15%;
  overflow: auto;
  width: 70%;
  border-style: solid;
  height: auto;
}

.author_name {
  position:absolute;
  margin-top: 0;
  margin-left: 15px;
}

.post_content {
  word-wrap: break-word;
  margin-left: 20px;
  margin-right: 20px;
}

.scroll-to-top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
}

.nav_link {
  text-decoration: none;
}

button {
  border-radius: 50px;
}

.form_submit {
  border-radius: 50px;
}

a {
  color: black;
  text-decoration: none;
}
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black }
