html *{
  font-family:'Courier New', Courier, monospace;
}

h1 {
  font-family:'Courier New', Courier, monospace;
  color: #39A2DB;
}

html {
  background-color: #EEEEEE;
}

.column {
  float: left;
  padding: 10px;
}

.left{
  width: 15%;
  position: fixed ;
  top: 0;
  left: 0;
  height: 100%;
  box-shadow: 0 0 10px #EEEEEE;
}


.right {
  width: 15%;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: 0 0 10px #EEEEEE;
  height:100%;
  text-align: center;
}

.right:hover{
  box-shadow: 0 0 10px
}

table {
  margin-left: 33%;
}

.avatar{
  border: black solid;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px;
}

.profile_img {
  border: #39A2DB solid;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px;
}

.avatar:hover, .avatar:focus{
  border: steelblue solid;
  width: 100px;
  height: 100px;
}


.middle {
  margin-top: 110px;
  /* position:absolute; */
  text-align: center;
  width: 70%;
  margin-left: 15%;
  height: 100%;
}

.header {
  top: 0;
  left: 15%;
  width: 70%;
  /* background-color: #EEEEEE; */
  position: absolute;
}

.header h1 {
  text-align: center;
  position: relative;
}

.posts{
  /* margin-left: 10%;
  margin-right: 10%; */
  overflow: hidden;
  width: 100%;
}

.post{
  margin-left: 15%;
  overflow: auto;
  width: 70%;
  border-color: #39A2DB;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  height: auto;
  position: relative;
  background-color: aliceblue;
}


.post:hover {
  border-color: #39A2DB;
  box-shadow: 0 0 10px ;
}

.single_post {
  border-color: #39A2DB;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  position: relative;
  background-color: aliceblue;
}

.user img{
  position: absolute;
  left: 0px;
  top: 0;
}

.user h3 {
  position: absolute;
  left: 90px;
  top: 0px;
}

.user h3:hover{
  color: #39A2DB;
}

.content {
  margin-top: 60px;
}

.user_inf {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 90%;
  width: 25%;
}

.user_inf img {
  position: absolute;
  width: 30px;
  height: 30px;
  border: #39A2DB solid 2px;
  border-radius: 50%;
  left: 0px;
}

.post_title:hover{
  color: #39A2DB;
}

.user_inf h4 {
  left: 40px;
}

.user_inf h4:hover{
  color: #39A2DB;
}

.comments {
  /* margin-left: 10%;
  margin-right: 10%; */
  overflow: hidden;
  width: 100%;
  position: relative;
}

.comment {
  margin-left: 15%;
  overflow: auto;
  width: 70%;
  border-color: #39A2DB;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  position: relative;
}

.commentor {
  position: absolute;
  top: 5px;
  left: 7px;
  height: 90%;
  width: 25%;
}

.commentor img {
  position: absolute;
  width: 30px;
  height: 30px;
  border: #39A2DB solid 2px;
  border-radius: 50%;
  left: 0px;
}

.commentor h4 {
  position: absolute;
  left: 40px;
  margin: 0;
}

.commentor h4:hover {
  color: #39A2DB;
}

.comment_form {
  display: inline-block;
}

.submit2 {
  position: absolute;
}


.comment_text {
  position: relative;
  top: 7px
}

#content:hover{
  background-color: #EEEEEE;
}

.hr {
  border: 1px solid #39A2DB;
}

.author_name {
  position:absolute;
  margin-top: 0;
  margin-left: 15px;
}

.post_content {
  word-wrap: break-word;
  margin-left: 20px;
  margin-right: 20px;
}

.scroll-to-top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
}

.nav_link {
  text-decoration: none;
}

.btn {
  display: inline-block;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.btn:hover{
  font-size: 30px;
  color: #39A2DB;
}

.fa:hover {
  font-size: 30px;
}

.far:hover {
  font-size: 30px;
}

.fas:hover {
  font-size: 30px;
}

.fa-arrow-circle-left{
  font-size: 150px;
}

.fa-arrow-circle-left:hover {
  font-size: 200px;
}

.fas.fa-arrow-up {
  font-size: 70px;
  margin-right: 50px;
  color: #39A2DB;
}

.form {
  display: inline-block;
  margin: 10px;
}

.form.submit {
  border-radius: 50px;
}

.nav_profile h2:hover{
  color: #39A2DB;
}

a {
  color: black;
  text-decoration: none;
}
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black }
